<%= form_for @user do |f|%>    

    <div class="card-middle m-5">
        <div class="card longer">
                <div class="card-body">
                    <div class="card-body larger-font card-middle space">

                        <div class="field">
                            <%= f.label :first_name, "First Name" %>
                            <%= f.text_field :first_name %>
                        </div>

                        <div class="field">
                            <%= f.label :last_name, "Last Name" %>
                            <%= f.text_field :last_name %>
                        </div>

                        <div class="field">
                            <%= f.label :username, "Username" %>
                            <%= f.text_field :username %>
                        </div>
                        
                        <div class="field">
                            <%= f.label :bio, "Bio" %>
                            <%= f.text_field :bio %>
                        </div>

                        <%# <div class="field">
                            <%= f.label :password_confirmation, "Confirm with password" %><br />
                            <%# <%= f.password_field :password_confirmation, autocomplete: "new-password" %> %>
                        <%# </div> %> %>

                <%= f.submit "Submit", :class => "button btn btn-light " %>
            </div>
        </div>
    </div>

<% end %>