<h1 class="card-middle"> Welcome <%= current_user.username %>! </h1>


<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-6 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0 mb-4 mt-4 mx-2">

                        <div class="col-sm-4 user-profile d-flex align-items-center justify-content-center">
                            <div class="card-block text-center">
                                <div class="align-items-center justify-content-center" style="height: 200px;">
                                    <% if current_user.profile_pic.present? %>
                                        <%= image_tag(current_user.profile_pic, size: "200x200")%>
                                    <% else %>
                                        <%= image_tag("default_prof_pic.png", size: "200x200")%>
                                    <% end %>                                
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-8">
                            <div class="card-block">
                                <h3 class="m-b-20 p-b-50 b-b-default f-w-600">Your Information</h3>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-400">First Name</p>
                                        <h6 class="text-muted f-w-400"> <%= current_user.first_name %> </h6>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Last Name</p>
                                        <h6 class="text-muted f-w-400"> <%= current_user.last_name %> </h6>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Username</p>
                                        <h6 class="text-muted f-w-400"> <%= current_user.username %> </h6>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Bio</p>
                                        <h6 class="text-muted f-w-400"> <%= current_user.bio %> </h6>
                                    </div>
                                </div>
                                        

                                <div class="row">
                                    <div class="col-sm-6">
                                        <%= link_to "Edit log in Details", edit_user_registration_path(@user), class:"btn btn-outline-secondary btn-sm" %>
                                    </div>
                                </div>
                                    
                                <div class="row">
                                    <div class="col-sm-6">
                                        <%= link_to "Edit Profile Details", edit_user_path(current_user), class: "mt-2 btn btn-outline-secondary btn-sm" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>