<div class="col-md-3 mb-4">
  <div class="card">
    <%= image_tag(character_card.image, class: "card-img-top", size: "100x200") %>
    <div class="card-body">
      <h5 class="card-title shrink-text"><%= character_card.name %></h5>
      <p class="card-text shrink-text">Birthday: <%= character_card.birthday %></p>
      <p class="card-text shrink-text">Location: <%= character_card.location %></p>
      <p class="card-text shrink-text">Favorite food: <%= character_card.fav_food %></p>
      <p class="card-text shrink-text">Favorite color: <%= character_card.fave_colour %></p>
      <%= link_to 'View', character_card_path(character_card), class: 'btnc btn-pink' %>
      <%= link_to 'Update', edit_character_card_path(character_card), class: 'btnc btn-pink' %>
      <%= link_to 'Delete', character_cards_path(character_card), class: 'btnc btn-pink' %>
    </div>
  </div>
</div>

