<%= form_for @character_card do |f|%>    

    <div class="col-md-4 mb-4 card-middle ">
        <div class="card longer">
            <% if @character_card.image.present? %>
                <%= image_tag(@character_card.image, class: "card-img-top", size: "100x200")%>
            <% else %>
                <%= image_tag("own_c.png", class: "card-img-top", size: "100x200") %>
            <% end %> 
                <div class="card-body">
                    <div class="card-body">
                        <div class="field">
                            <%= f.label :name, "Name" %>
                            <%= f.text_field :name %>
                        </div>
                        <div class="field">
                            <%= f.label :birthday, "Birthday" %>
                            <%= f.text_field :birthday %>
                        </div>
                        <div class="field">
                            <%= f.label :location, "Location" %>
                            <%= f.text_field :location %>
                        </div>
                        <div class="field">
                            <%= f.label :fav_food, "Favourite food" %>
                            <%= f.text_field :fav_food %>
                        </div>
                        <div class="field">
                            <%= f.label :fave_colour, "Favourite color" %>
                            <%= f.text_field :fave_colour %>
                        </div>
                <%= f.submit "Submit", :class => "button btn btn-light" %>
            </div>
        </div>
    </div>

<% end %>