<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #fbe0e7;">
    <%= link_to "Sanri Fan Club", root_path, class: "navbar-brand", style: "color: #8f81bc;" %>  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <%= link_to "Profile", users_path, class: "nav-link", style: "color: #8f81bc;" %>
      </li>

      <li class="nav-item">
        <%= link_to "Characters", root_path, class: "nav-link", style: "color: #8f81bc;" %>
      </li>

      <li class="nav-item">
        <%= link_to "Chat", root_path, class: "nav-link", style: "color: #8f81bc;" %>
      </li>

      <li class="nav-item">
        <%= link_to "Extra Info", pages_extrainfo_path, class: "nav-link", style: "color: #8f81bc;" %>
      </li>

    <% if user_signed_in? %>
        <li class="nav-item">
            <%# Welcome <%= current_user.email %>
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link", style: "color: #8f81bc;" %>    
        </li>
     <% else %>
        <li>
            <%= link_to "Login", new_user_session_path, class: "nav-link", style: "color: #8f81bc;" %>
        </li>
        <li>
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link", style: "color: #8f81bc;" %>
        </li>
    <% end %>

    </ul>
    <%# <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-10" type="search" placeholder="Search" aria-label="Search" >
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color: #ffff99; border-color: white; color: 944dff;">Search</button>
    </form> %>
          
  </div>
</nav>
