<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #fbe0e7;">
  <a class="navbar-brand" href="#" style="color:#8f81bc;">Sanrio Fan Club</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" >
        <%= link_to 'home', root_path, class:'nav-link'%>
        
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color:  #8f81bc;">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color:  #8f81bc;">Chat</a>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
            <%# Welcome <%= current_user.email %>
            &nbsp;|&nbsp;
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete } %>
            <% else %>
            <%= link_to "Login", new_user_session_path %>
            <%= link_to "Sign up", new_user_registration_path %>
        <% end %>

      </li>
    </ul>
    <%# <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-10" type="search" placeholder="Search" aria-label="Search" >
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color: #ffff99; border-color: white; color: 944dff;">Search</button>
    </form> %>
          
  </div>
</nav>
